
  <div class="card shadow-lg ">
    <div class="card-img-wrapper">
      <img class="card-img-top" src="assets/Images/Propert1.jpg">
      <ul class="list-inline text-center member-icon animate">
       <li class="list-inline-item"> <button class="btn btn-success"><i class="far fa-edit"></i></button></li>
        <li class="list-inline-item"><button class="btn btn-success"><i class="far fa-address-book"></i></button></li>
      </ul>
    </div>
        <div class="card-body">
          <h1>{{property.Name}}</h1>
          <h6>{{property.Type}}</h6>
          <h6 >{{property.Price}}</h6>
        </div>
  </div>



